<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit panda info</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        
            <h3>Edit <%= panda.name %>`s info here!</h3>
        
        <form action="/<%= panda.id %>" method='post'>
            Name: <input type="text" name="name" value="<%= panda.name %>">
            Weight: <input type="text" name="age" value="<%= panda.age %>">
            Color: <input type="text" name="color" value="<%= panda.color %>">
            <input type="submit" value="Edit panda!" class="btn btn-primary">
        </form>
        <a href="/" class="btn btn-primary">Home</a>
    </div>
</body>
</html>